.news-list {
  text-align: left;
}

.news-list ul {
  padding-left: 20px;
}

.load-all-news {
  text-align: center;
  margin-bottom: 20px;
}

.load-all-news button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: 1px solid #d1d5db;
  padding: 8px 12px;
  height: 36px;
  background: #fff;
  font-weight: bold;
}

.load-all-news button:hover {
  background: #f3f4f6;
}

.featured-news {
  position: relative;
  cursor: pointer;
}

.featured-news img {
  width: 100%;
  border-radius: 10px;
}

.featured-news .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 20px;
  color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.featured-news .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  right: 0;
  height: 80%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.news-list li {
  margin-left: 5px;
  margin-bottom: 20px;
  opacity: 0.8;
  line-height: 1.5;
}

.news-list li:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
}

@media (max-width: 1024px) {
  .featured-news img {
    width: 100%;
    border-radius: 0;
  }

  .featured-news .title:after {
    border-radius: 0;
  }
}
