.news-list {
  text-align: left;
}

.featured-news {
  position: relative;
}

.featured-news img {
  width: 100%;
  border-radius: 10px;
}

.featured-news .title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #fff;
}

.news-list li {
  margin-left: 5px;
  margin-bottom: 20px;
  opacity: 0.8;
  line-height: 1.5;
}

.news-list li:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
}
